/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/clutter-qt-0.8.pc
/clutter-qt.pc
/clutter-qt/Makefile
/clutter-qt/Makefile.in
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/examples/Makefile
/examples/Makefile.in
/examples/testqt
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
.deps
.libs
*.lo
*.o
*.la
moc_*.cc
